  <title>Athletic Club - Analysis</title>

{% extends 'navbar.html' %}
{% block body %}

{% include 'navbar.html' %}

        <div  class="container">

                <div class="card">
                        <div class="card-header bg-primary" >
                            <h3 class="text-center" style="color: white;">Athletic Bilbao</h3>
                        </div>

                            <img class="card-img-top" width="100%" height="400" src="static\assets\img\athletic.png" alt="Athletic Club ">
                            <div class="card-body">

                                     <p class="text-center card-text">
                                         <span> Stadium: San Mamés Stadium </span></p>
                                    <p class="text-center card-text"> <span>
                                        Follow Athletic on: </span>
                                        <a href="https://www.facebook.com/fcbarcelona">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="https://www.instagram.com/fcbarcelona/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="https://www.instagram.com/realmadrid/">
                                            <i class="fa fa-twitter-square"></i>
                                        </a>
                                    </p>

                                  </div>
                        </div>
        </div>
            <div class="container">
                    <div class="card">
                        <div style="color: white;"  class="text-center card-header bg-primary">
                            <h4>Statistics and Analysis: 2012-2017</h4>
                        </div>
                    </div>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >
                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data|safe}} />
	  </div>
                </div>
                <div class= "  offset-sm-1 col-sm-5">
                
                    
           <!-- <embed  type="image/svg+xml" src={{graph_data_1|safe}} />  -->
                            <a class="twitter-timeline" data-width="450" data-height="450" data-link-color="#E81C4F" href="https://twitter.com/Athletic_en?ref_src=twsrc%5Etfw">Tweets by Athletic_en</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>    
                    </div>
            </div>
                </div>
             <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >
                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_2|safe}} />
	  </div>
                </div>
                    <div class="col-sm-6">
                <div class=" card" >
                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_3|safe}} />
	  </div>
                </div>
                    </div>
            </div>
                </div>
 <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >
                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_4|safe}} />
	  </div>
                </div>
                    <div class="col-sm-6">
                <div class=" card" >
                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_5|safe}} />
                    </div>
                </div>
                    </div>
            </div>
                </div>
 <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >
                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_6|safe}} />
	  </div>
                </div>
                    <div class="col-sm-6">
                <div class=" card" >
                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_7|safe}} />
                    </div>
                </div>
                    </div>
                </div>
                </div>
                <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_8|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_9|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>
<div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_10|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_11|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>

            <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_12|safe}} />
	  </div>
                </div>
                    <div class=" col-sm-6 card">
                            <embed  type="image/svg+xml" src={{graph_data_1|safe}} />
                    </div>
            </div>
                </div>



        <div class="footer-dark" style="color:rgb(255,255,255);background-color:rgb(51,51,51);">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 item">
                                <h3>Services</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Feedback</a></li>

                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-3 item">
                                <h3>About</h3>
                                <ul>
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 item text">
                                <h3>The Football Show </h3>
                                <p></p>
                            </div>
                            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                        </div>
                        <p class="copyright">The Football Show © 2018</p>
                    </div>
                </footer>
            </div>

<script src="/static/assets/bootstrap/js/bootstrap.min.js">
</script>
<script src="/static/assets/js/jquery.min.js" ></script>
{%endblock%}