{% extends 'navbar.html' %}
{% block body %}

{% include 'navbar.html' %}
        <div  class="container">
            
                <div class="card">
                        <div class="card-header " style="background-color:rgba(194,0,140,0.9);">
                            <h3 class="text-center" style="color: white;">FC Barcelona</h3>
                        </div>
                            
                            <img class="card-img-top" width="100%" height="400" src="static\assets\img\campnou.jpg" alt="Real Madrid ">
                            <div class="card-body">
                                
                                     <p class="text-center card-text"> 
                                         <span> Stadium: Camp Nou </span></p>
                                    <p class="text-center card-text"> <span>
                                        Follow Barca on: </span>
                                        <a href="https://www.facebook.com/fcbarcelona">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="https://www.instagram.com/fcbarcelona/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="https://www.instagram.com/realmadrid/">
                                            <i class="fa fa-twitter-square"></i>
                                        </a>
                                    </p>
                                      
                                  </div>
                        </div>
        </div> 

            <div class="container">

                    <div class="card">
                        <div style="color: white;"  class="text-center card-header bg-primary">
                            <h4>Statistics and Analysis: 2012-2017</h4>
                        </div>
                    </div>

            </div>

            <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data|safe}} />
	  </div>
                </div>
                <div class="col-sm-6">
                <div class=" card" >
                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_1|safe}} />
	  </div>
                </div>
                    </div>


            </div>
                </div>

             <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_2|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_3|safe}} />
	  </div>
                </div>
                    </div>
            </div>
                </div>
 <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_4|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_5|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>
 <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_6|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_7|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>

            <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_8|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_9|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>
<div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_10|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_11|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>

            <div class="container">
                <div class="row">
                <div class="col-sm-offset-3 col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_12|safe}} />
	  </div>
                </div>

                      <div class="offset-sm-1 col-sm-5">

                    <a class="twitter-timeline" data-lang="en" data-width="450" data-height="450" data-link-color="#981CEB" href="https://twitter.com/FCBarcelona?ref_src=twsrc%5Etfw">Tweets by FCBarcelona</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

            </div>
                </div>



<div style="color: white;" class="text-center container">
    <div class="row">
          <div class="col align-self-center ">
             <div class="card">
                <div class="card-header bg-primary">
                        <h3>Squad</h3>
                </div>
             </div>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
                <div class="card border-light">
                        <img class="card-img-top"  src="static\assets\img\barca\ter-stegen.jpg" alt="Ter Stegen">
                       
                        <div class="card-footer bg-primary">
                          <h5>1. Ter Stegen</h5>
                        </div>
                      </div>
        </div>

        <div class="col-sm-3">
                <div class="card border-light">
                        <img class="card-img-top"  src="static\assets\img\barca\semedo.jpg" alt="Neslon Semedo">
                       
                        <div class="card-footer bg-primary">
                          <h5>2. Nelson Semedo</h5>
                        </div>
                      </div>
        </div>

        <div class="col-sm-3">
                <div class="card">
                        <img class="card-img-top"  src="static\assets\img\barca\pique.jpg" alt="Gerrard Pique">
                       
                        <div class="card-footer bg-primary">
                          <h5>3. Gerrad Pique</h5>
                        </div>
                      </div>
        </div>

        <div class="col-sm-3">
                <div class="card">
                        <img class="card-img-top"  src="static\assets\img\barca\jordialba.jpg" alt="Jordi Alba">
                       
                        <div class="card-footer bg-primary">
                         <div> <h5>18. Jordi Alba</h5> </div>
                        </div>
                      </div>
        </div>

    </div>
</div>

<div style="color: white;" class="container">
        <div class="row">
            <div class="col-sm-3">
                    <div class="card border-light">
                            <img class="card-img-top"  src="static\assets\img\barca\lucas.jpg" alt="Lucas Digne">
                           
                            <div class="card-footer bg-primary">
                              <h5>19. Lucas Digne</h5>
                            </div>
                          </div>
            </div>
    
            <div class="col-sm-3">
                    <div class="card">
                            <img class="card-img-top"  src="static\assets\img\barca\reberto.jpg" alt="Sergi Roberto">
                           
                            <div class="card-footer bg-primary">
                              <h5>20. Sergi Rsadasdoberto</h5>
                            </div>
                          </div>
            </div>
    
            <div class="col-sm-3">
                    <div class="card">
                            <img class="card-img-top"  src="static\assets\img\barca\vidal.jpg" alt="Alex Vidal">
                           
                            <div class="card-footer bg-primary">
                              <h5>22. Alex Vidal</h5>
                            </div>
                          </div>
            </div>
    
            <div class="col-sm-3">
                    <div class="card">
                            <img class="card-img-top"  src="static\assets\img\barca\umtiti.jpg" alt="Samuel Umtiti">
                           
                            <div class="card-footer bg-primary">
                             <div> <h5>23. Samuel Umtiti</h5> </div>
                            </div>
                          </div>
            </div>
    
        </div>
    </div>

    <div style="color: white;" class="container">
            <div class="row">
                <div class="col-sm-3">
                        <div class="card border-light">
                                <img class="card-img-top"  src="static\assets\img\barca\mina.jpg" alt="Yerry Mina">
                               
                                <div class="card-footer bg-primary">
                                  <h5>24. Yerry Mina</h5>
                                </div>
                              </div>
                </div>
        
                <div class="col-sm-3">
                        <div class="card border-light">
                                <img class="card-img-top"  src="static\assets\img\barca\rakitic.jpg" alt="Ivan Rakitic">
                                <div class="card-footer bg-primary">
                                  <h5>4. Ivan Rakitic</h5>
                                </div>
                              </div>
                </div>
                <div class="col-sm-3">
                        <div class="card">
                                <img class="card-img-top"  src="static\assets\img\barca\busquets.jpg" alt="Sergio Busquets">
                               
                                <div class="card-footer bg-primary">
                                  <h5>5. Sergio Busquets</h5>
                                </div>
                              </div>
                </div>
        
                <div class="col-sm-3">
                        <div class="card">
                                <img class="card-img-top"  src="static\assets\img\barca\denis-suarez.jpg" alt="Denis Suarez">
                               
                                <div class="card-footer bg-primary">
                                 <div> <h5> 6. Denis Suarez </h5> </div>
                                </div>
                              </div>
                </div>
        
            </div>
        </div>

        <div style="color: white;" class="container">
                <div class="row">
                    <div class="col-sm-3">
                            <div class="card border-light">
                                    <img class="card-img-top"  src="static\assets\img\barca\iniesta.jpg" alt="Andres Iniesta">
                                   
                                    <div class="card-footer bg-primary">
                                      <h5>8. Andres Iniesta</h5>
                                    </div>
                                  </div>
                    </div>
            
                    <div class="col-sm-3">
                            <div class="card ">
                                    <img class="card-img-top"  src="static\assets\img\barca\dembele.jpg" alt="Dembele">
                                   
                                    <div class="card-footer bg-primary">
                                      <h5>11. Dembele</h5>
                                    </div>
                                  </div>
                    </div>
            
                    <div class="col-sm-3">
                            <div class="card">
                                    <img class="card-img-top"  src="static\assets\img\barca\cutinho.jpg" alt="Philippe Cutinho">
                                   
                                    <div class="card-footer bg-primary">
                                      <h5>14. Cutinho</h5>
                                    </div>
                                  </div>
                    </div>
            
                    <div class="col-sm-3">
                            <div class="card">
                                    <img class="card-img-top"  src="static\assets\img\barca\paulinho.jpg" alt="Paulinho">
                                   
                                    <div class="card-footer bg-primary">
                                     <div> <h5>15. Paulinho</h5> </div>
                                    </div>
                                  </div>
                    </div>
            
                </div>
            </div>
            

            <div style="color: white;" class="container">
                <div class="row">
                    <div class="col-sm-3">
                            <div class="card border-light">
                                    <img class="card-img-top"  src="static\assets\img\barca\gomez.jpg" alt="Andre Gomez">
                                   
                                    <div class="card-footer bg-primary">
                                      <h5>21. Andre Gomes</h5>
                                    </div>
                                  </div>
                    </div>
            
                    <div class="col-sm-3">
                            <div class="card ">
                                    <img class="card-img-top"  src="static\assets\img\barca\suarez.jpg" alt="Luiz Suarez">
                                   
                                    <div class="card-footer bg-primary">
                                      <h5>9. Luiz Suarez</h5>
                                    </div>
                                  </div>
                    </div>
            
                    <div class="col-sm-3">
                            <div class="card">
                                    <img class="card-img-top"  src="static\assets\img\barca\messi.jpg" alt="Leo Messi">
                                   
                                    <div class="card-footer bg-primary">
                                      <h5>10. Leo Messi</h5>
                                    </div>
                                  </div>
                    </div>
            
                    <div class="col-sm-3">
                            <div class="card">
                                    <img class="card-img-top"  src="static\assets\img\barca\alcaser.jpg" alt="Paulinho">
                                   
                                    <div class="card-footer bg-primary">
                                     <div> <h5>17. Alacacer</h5> </div>
                                    </div>
                                  </div>
                    </div>
            
                </div>
            </div>
            

        <div class="footer-dark" style="color:rgb(255,255,255);background-color:rgb(51,51,51);">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 item">
                                <h3>Services</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Feedback</a></li>
                               
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-3 item">
                                <h3>About</h3>
                                <ul>
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 item text">
                                <h3>The Football Show </h3>
                                <p></p>
                            </div>
                            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                        </div>
                        <p class="copyright">The Football Show © 2018</p>
                    </div>
                </footer>
            </div>

    <script src="/static/assets/bootstrap/js/bootstrap.min.js">
</script>
<script src="/static/assets/js/jquery.min.js" ></script>
{%endblock%}