<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laliga Clubs</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

                <style>
                  body{
                    font-family: 'Roboto Slab', serif;
                  }
                </style>
</head>
<body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="card-header bg-dark">
                          <h4 class=" text-center" style="color: white;">Laliga Teams</h4>
                        </div>
                    <br>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="height: 20rem;">
                        <div class="card-header bg-primary">
                            <h3 class="text-center" style="color: white;">FC Barcelona</h3>
                        </div>
                        <div class="card-body">
                            <h3>HELLO ADASDASDASD</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 " >
                    <div class="card" style="height: 20rem;">
                        <div class="card-header bg-primary" >
                            <h3 class="text-center" style="color: white;">Real Madrid</h3>
                        </div>
                        <div class="card-body">
                            <h3>Position: 03</h3>
                              <img class="card-img-top img-responsive" src="static\assets\img\madrid\llorente.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="height: 20rem;">
                        <div class="card-header bg-primary">
                            <h3 class="text-center" style="color: white;">Atletico Madrid</h3>
                        </div>
                        <div class="card-body">
                            <h3>HELLO AD</h3>
                        </div>
                    </div>
                </div>
            </div>
            <br> <br>
            <div class="row">
                <div class="col-md-4">
                        <div class="card" style="height: 20rem;">
                            <div class="card-header bg-primary">
                                <h3 class="text-center" style="color: white;">Sevilla FC</h3>
                            </div>
                            <div class="card-body">
                              <h3>asdaskjdkasdhkajsdh</h3>
                            </div>
                        </div>
                </div>

                 <div class="col-md-4">
                        <div class="card" style="height: 20rem;">
                            <div class="card-header bg-primary">
                                <h3 class="text-center" style="color: white;">Valencia CF</h3>
                            </div>
                            <div class="card-body">
                              <h3>asdaskjdkasdhkajsdh</h3>
                            </div>
                        </div>
                </div>

                 <div class="col-md-4">
                        <div class="card" style="height: 20rem;">
                            <div class="card-header bg-primary">
                                <h3 class="text-center" style="color: white;">Athletic Club FC</h3>
                            </div>
                            <div class="card-body">
                              <h3>asdaskjdkasdhkajsdh</h3>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                        <div class="card" style="height: 20rem;">
                            <div class="card-header bg-primary">
                                <h3 class="text-center" style="color: white;">Villareal </h3>
                            </div>
                            <div class="card-body">
                              <h3>asdaskjdkasdhkajsdh</h3>
                            </div>
                        </div>
                </div>

                 <div class="col-md-4">
                        <div class="card" style="height: 20rem;">
                            <div class="card-header bg-primary">
                                <h3 class="text-center" style="color: white;">Real Betis</h3>
                            </div>
                            <div class="card-body">
                              <h3>asdaskjdkasdhkajsdh</h3>
                            </div>
                        </div>
                </div>

                 <div class="col-md-4">
                        <div class="card" style="height: 20rem;">
                            <div class="card-header bg-primary">
                                <h3 class="text-center" style="color: white;">Getafe FC</h3>
                            </div>
                            <div class="card-body">
                              <h3>asdaskjdkasdhkajsdh</h3>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</body>
</html>