{% extends 'testlayout.html' %}
{% block body %}
{% include 'navbar.html' %}
<style>
    .btn-pk {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;   
}
</style>
<div class="container">

    <br>
    <br>

    <h3>Compare your team with your rivals</h3>
    <p class="lead">
    Check if your team is leading with your opponent in goals, wins and other aspects.
    </p>
    <hr>
    <br>
    <div class="card card-header  row">
        <br>
<form class="col-md-12 " action="">
    <div class="row">
<div class="form-group offset-md-1 col-md-4">
      <label for="inputState">Choose your Team</label>
      <select id="inputState" class="form-control">
        <option selected>Realmadrid</option>
        <option>Barcelona</option>
          <option >Atletico de Madrid</option>
        <option>Sevilla FC</option>
          <option >Valencia CF</option>
        <option>Athletic Club</option>
          <option >Real Betis</option>
        <option>Villareal FC</option>
          <option>Getafe CF</option>

      </select>
    </div>

        <div class="form-group offset-md-2 col-md-4">
      <label for="inputState">Choose your Opponent</label>
      <select id="inputState" class="form-control">
        <option >Realmadrid</option>
        <option selected>FC Barcelona</option>
          <option >Atletico de Madrid</option>
        <option>Sevilla FC</option>
          <option >Valencia CF</option>
        <option>Athletic Club</option>
          <option >Real Betis</option>
        <option>Villareal FC</option>
          <option>Getafe CF</option>

      </select>
    </div>
        </div>
    <br> <br>

    <input  class="offset-sm-4 col-md-4 btn bt-lg btn-primary " type="submit" value="Compare">


</form>
        <br>
    </div>
    </div>
<script src="/static/assets/bootstrap/js/bootstrap.min.js">
</script>
<script src="/static/assets/js/jquery.min.js" ></script>
{%endblock%}