<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div>
    <!--   <div class="header-dark" style="background-image:url(&quot;assets/img/www.GetBg.net_Sport_Football_goal_036151_.jpg&quot;);">   -->
        <div class="header-dark" style="background-image: url('assets\img\main.jpg');">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="index.html" style="color:rgba(13,237,143,0.9);">The Football Show</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <strong> Clubs </strong>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="barca.html">FC Barcelona</a>
                                  <a class="dropdown-item" href="#">Real Madrid CF</a>
                                  <a class="dropdown-item" href="#">Atletico de Madrid</a>

                                  <a class="dropdown-item" href="#">Sevilla FC</a>
                                  <a class="dropdown-item" href="#">Valencia  </a>



                                </div>
                              </li>
                            <li role="presentation" class="nav-item"><a href="#" class="nav-link"><strong>Predictions</strong></a></li>
                            <li role="presentation" class="nav-item"><a href="#" class="nav-link"><strong>Rankings</strong></a></li>
                        </ul>

        </div>
        </nav>
        <p class="lead text-center"  style="color:rgb(255,255,255); margin-top: 15%;">Welcome to&nbsp;</p>
        <h1 class="text-center" style="color:rgba(13,237,143,0.9);">The Football Show</h1>
        <p class="lead text-center text-white"><br>Here you will find everything about the best<br> game in the entire world. Predictions, Rankings, statisctics in <br>details and much more.<br><br></p>

    </div>


    </div>
    <br><br><br>
    <div class="container">
            <div class="row">
                <div class="col-md-4">
                <section>
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-header bg-primary">
Clubs
                        </div>
                      <a href="">  <img class="card-img-top img-responsive" src="assets\img\r.png" alt="Card image cap"></a>
                        <div class="card-body">
                                <p class="card-text">Find out about your favourite club and player statistics and much more.</p>


                        </div>
                      </div>
                </section>
            </div>
            <div class="col-md-4">
                    <section>
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header bg-primary">
Predictions
                            </div>
                           <a href="#"> <img class="card-img-top" src="assets\img\pre.jpg" alt="Card image cap"> </a>
                            <div class="card-body">

                                    <p class="card-text">Find out about the predictions of upcoming matches.</p>

                            </div>
                          </div>
                    </section>
                </div>
                <div class="col-md-4">
                        <section>

                            <div class="card  text-center" style="width: 18rem; height: 20rem;">
                                <div class="card-header  bg-primary">
                                    Rankings


                                </div>
                            <a href="">     <img class="card-img-top"  src="assets\img\rank.jpg" alt="Card image cap"></a>
                                <div class="card-body">
                                  <p>Let's find out the ranking of your team in Europe.</p>
                                </div>
                              </div>
                        </section>
                    </div>
            </div>
        </div>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">

                    <div class="col-md-6 item text">
                        <h3>The Football Show</h3>
                        <p>Here you will find everything about the best
                                game in the entire world. Predictions, Rankings, statisctics in
                                details and much more.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">The Football Show © 2017</p>
            </div>
        </footer>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>