
    <title>Real Madrid - Analysis</title>

{% extends 'navbar.html' %}
{% block body %}

{% include 'navbar.html' %}

        <div  class="container">

                <div class="card">
                        <div class="card-header " style="background-color:rgba(194,0,140,0.9);">
                            <h3 class="text-center" style="color: white;">Real Madrid C.F</h3>
                        </div>

                            <img class="card-img-top" width="100%" height="400" src="static\assets\img\realmadrid.jpg" alt="Real Madrid">
                            <div class="card-body">

                                     <p class="text-center card-text">
                                         <span> Stadium: Santiago Bernabeu </span></p>
                                    <p class="text-center card-text"> <span>
                                        Follow Realmadrid  on: </span>
                                        <a href="https://www.facebook.com/fcbarcelona">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="https://www.instagram.com/fcbarcelona/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="https://www.instagram.com/realmadrid/">
                                            <i class="fa fa-twitter-square"></i>
                                        </a>
                                    </p>

                                  </div>
                        </div>
        </div>



            <div class="container">

                    <div class="card">
                        <div style="color: white;"  class="text-center card-header bg-primary">
                            <h4>Statistics and Analysis: 2012-2017</h4>
                        </div>
                    </div>

            </div>




            <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data|safe}} />
	  </div>
                </div>

                     <div class="col-sm-6">
                <div class=" card" >
                    <div  class="card-body" align="center">
                            <a class="twitter-timeline" data-lang="en" data-width="450" data-height="450" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/realmadriden?ref_src=twsrc%5Etfw">Tweets by Realmadrid</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	  </div>
                </div>
                    </div>


            </div>

                </div>

             <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
                            <embed  type="image/svg+xml" src={{graph_data_1|safe}} />

	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_3|safe}} />
	  </div>
                </div>
                    </div>
            </div>
                </div>
 <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_4|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_5|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>
 <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_6|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_7|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>

            <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_8|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_9|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>
<div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_10|safe}} />
	  </div>
                </div>

                <div class="col-sm-6">
                <div class=" card" >

                    <div  class="card-body" align="center">
			<embed  type="image/svg+xml" src={{graph_data_11|safe}} />

	  </div>
                </div>
                    </div>


            </div>
                </div>

            <div class="container">
                <div class="row">
                <div class="col-sm-6 card" >

                    <div class="card-body" >
			<embed type="image/svg+xml" src={{graph_data_12|safe}} />
	  </div>
                </div>

                     <div class="col-sm-6">
                            <embed type="image/svg+xml" src={{graph_data_2|safe}} />


                </div>
            </div>
                </div>




<div style="color: white;" class="text-center container">
    <div class="row">
          <div class="col align-self-center ">
             <div class="card">
                <div class="card-header bg-primary">
                        <h3>Squad</h3>
                </div>
             </div>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
                <div class="card border-light">
                        <img class="card-img-top"  src="static\assets\img\madrid\navas.jpg" alt="Keylor Navas">

                        <div class="card-footer bg-primary">
                          <h5>1. Keylor Navas</h5>
                        </div>
                      </div>
        </div>

        <div class="col-sm-3">
                <div class="card border-light">
                        <img class="card-img-top"  src="static\assets\img\madrid\carvajal.jpg" alt="Dani Carvajal">

                        <div class="card-footer bg-primary">
                          <h5>2. Dani Carvajal</h5>
                        </div>
                      </div>
        </div>

        <div class="col-sm-3">
                <div class="card">
                        <img class="card-img-top"  src="static\assets\img\madrid\vallejo.jpg" alt="Jesus Vallejo">

                        <div class="card-footer bg-primary">
                          <h5>3. Jesus Vallejo</h5>
                        </div>
                      </div>
        </div>

        <div class="col-sm-3">
                <div class="card">
                        <img class="card-img-top"  src="static\assets\img\madrid\sergio-ramos.jpg" alt="Sergio Ramos">

                        <div class="card-footer bg-primary">
                         <div> <h5>4. Sergio Ramos</h5> </div>
                        </div>
                      </div>
        </div>

    </div>
</div>

<div style="color: white;" class="container">
        <div class="row">
            <div class="col-sm-3">
                    <div class="card border-light">
                            <img class="card-img-top"  src="static\assets\img\madrid\varane.jpg" alt="Varane">

                            <div class="card-footer bg-primary">
                              <h5>5. Raphel Varane</h5>
                            </div>
                          </div>
            </div>

            <div class="col-sm-3">
                    <div class="card">
                            <img class="card-img-top"  src="static\assets\img\madrid\nacho.jpg" alt="Nacho">

                            <div class="card-footer bg-primary">
                              <h5>20. Nacho</h5>
                            </div>
                          </div>
            </div>

            <div class="col-sm-3">
                    <div class="card">
                            <img class="card-img-top"  src="static\assets\img\madrid\marcelo.jpg" alt="Marcelo">

                            <div class="card-footer bg-primary">
                              <h5>12. Marcelo</h5>
                            </div>
                          </div>
            </div>

            <div class="col-sm-3">
                    <div class="card">
                            <img class="card-img-top"  src="static\assets\img\madrid\theo.jpg" alt="Theo Hernandez">

                            <div class="card-footer bg-primary">
                             <div> <h5>15. Theo Hernandez</h5> </div>
                            </div>
                          </div>
            </div>

        </div>
    </div>

    <div style="color: white;" class="container">
            <div class="row">
                <div class="col-sm-3">
                        <div class="card border-light">
                                <img class="card-img-top"  src="static\assets\img\madrid\hakimi.jpg" alt="Achraf Hakimi">

                                <div class="card-footer bg-primary">
                                  <h5>24. Achraf Hakimi</h5>
                                </div>
                              </div>
                </div>

                <div class="col-sm-3">
                        <div class="card border-light">
                                <img class="card-img-top"  src="static\assets\img\madrid\kroos.jpg" alt="Toni Kroos">

                                <div class="card-footer bg-primary">
                                  <h5>8. Toni Kroos</h5>
                                </div>
                              </div>
                </div>

                <div class="col-sm-3">
                        <div class="card">
                                <img class="card-img-top"  src="static\assets\img\madrid\modric.jpg" alt="Luka Modric">

                                <div class="card-footer bg-primary">
                                  <h5>10. Luka Modric</h5>
                                </div>
                              </div>
                </div>

                <div class="col-sm-3">
                        <div class="card">
                                <img class="card-img-top"  src="static\assets\img\madrid\casemiro.jpg" alt="Casemiro">

                                <div class="card-footer bg-primary">
                                 <div> <h5> 14. Casemiro </h5> </div>
                                </div>
                              </div>
                </div>

            </div>
        </div>

        <div style="color: white;" class="container">
                <div class="row">
                    <div class="col-sm-3">
                            <div class="card border-light">
                                    <img class="card-img-top"  src="static\assets\img\madrid\llorente.jpg" alt="Marcos Llorente">

                                    <div class="card-footer bg-primary">
                                      <h5>18. Marcos Llorente</h5>
                                    </div>
                                  </div>
                    </div>

                    <div class="col-sm-3">
                            <div class="card ">
                                    <img class="card-img-top"  src="static\assets\img\madrid\asensio.jpg" alt="Marco Asensio">

                                    <div class="card-footer bg-primary">
                                      <h5>20. Marco Asensio</h5>
                                    </div>
                                  </div>
                    </div>

                    <div class="col-sm-3">
                            <div class="card">
                                    <img class="card-img-top"  src="static\assets\img\madrid\isco.jpg" alt="Isco">

                                    <div class="card-footer bg-primary">
                                      <h5>22. Isco</h5>
                                    </div>
                                  </div>
                    </div>

                    <div class="col-sm-3">
                            <div class="card">
                                    <img class="card-img-top"  src="static\assets\img\madrid\kovacic.jpg" alt="Kovacic">

                                    <div class="card-footer bg-primary">
                                     <div> <h5>23. Kovacic</h5> </div>
                                    </div>
                                  </div>
                    </div>

                </div>
            </div>


            <div style="color: white;" class="container">
                <div class="row">
                    <div class="col-sm-3">
                            <div class="card border-light">
                                    <img class="card-img-top"  src="static\assets\img\madrid\ceballos.jpg" alt="Dani Cebalos">

                                    <div class="card-footer bg-primary">
                                      <h5>24. Dani Ceballos</h5>
                                    </div>
                                  </div>
                    </div>

                    <div class="col-sm-3">
                            <div class="card ">
                                    <img class="card-img-top"  src="static\assets\img\madrid\ronaldo.jpg" alt="Cristiano Ronaldo">

                                    <div class="card-footer bg-primary">
                                      <h5>7. Cristiano Ronaldo</h5>
                                    </div>
                                  </div>
                    </div>

                    <div class="col-sm-3">
                            <div class="card">
                                    <img class="card-img-top"  src="static\assets\img\madrid\benzema.jpg" alt="Karim Benzema">

                                    <div class="card-footer bg-primary">
                                      <h5>9. Benzema</h5>
                                    </div>
                                  </div>
                    </div>

                    <div class="col-sm-3">
                            <div class="card">
                                    <img class="card-img-top"  src="static\assets\img\madrid\bale.jpg" alt="Gerath Bale">

                                    <div class="card-footer bg-primary">
                                     <div> <h5>11. Bale</h5> </div>
                                    </div>
                                  </div>
                    </div>

                </div>
            </div>


        <div class="footer-dark" style="color:rgb(255,255,255);background-color:rgb(51,51,51);">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 item">
                                <h3>Services</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Feedback</a></li>

                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-3 item">
                                <h3>About</h3>
                                <ul>
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 item text">
                                <h3>The Football Show </h3>
                                <p></p>
                            </div>
                            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                        </div>
                        <p class="copyright">The Football Show © 2018</p>
                    </div>
                </footer>
            </div>


    <!-- </body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    </script>
</html>  -->
<script src="/static/assets/bootstrap/js/bootstrap.min.js">
</script>
<script src="/static/assets/js/jquery.min.js" ></script>
{%endblock%}