
{% extends 'testlayout.html' %}


<head>
  {%- block head %}
  <title>{% block title %}{{title|default}}{% endblock title %}</title>

  {%- block styles %}
  .navbar{
    background: #0c73cc !important;
}

.dropdown{
    
}
.dropdown-menu{
   
}
.dropdown-item:hover{
    background:#085ca5;
    color:#fff;
}
.dropdown-menu a{
    color:#fff;
} 
.navbar .nav-item .nav-link{
    color:#eee !important; 
    
}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;
    
}
  <!-- Bootstrap -->
   {%- endblock styles %}
  {%- endblock head %}
</head>


{% block body %}



<nav  style="background: #0c73cc !important; color:#eee !important;" class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">The Football Show</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li style="color:#eee !important;" class="nav-item">
          <a style="color:#eee !important;" class="nav-link" href="#">Predictions <span class="sr-only">(current)</span></a>
        </li>
        <li style="color:#eee !important;" class="nav-item">
          <a style="color:#eee !important;" class="nav-link" href="#">Rankings</a>
        </li>
       
        <li style="color:#eee !important;" class="nav-item dropdown dmenu"  style="border-radius:0; border:0;" >
        <a style="color:#eee !important;" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Team Analysis
        </a>
        <div class="dropdown-menu sm-menu" style=" background: #0c73cc; border:0; top:80%; border-radius:0px 0px 5px 5px;">
          <a style="color:#fff;" class="dropdown-item" href="#">Link 1</a>
          <a style="color:#fff;" class="dropdown-item" href="#">Link 2</a>
          <a style="color:#fff;" class="dropdown-item" href="#">Link 3</a>
          <a style="color:#fff;" class="dropdown-item" href="#">Link 1</a>
          <a style="color:#fff;" class="dropdown-item" href="#">Link 2</a>
          <a style="color:#fff;" class="dropdown-item" href="#">Link 3</a>
          <a style="color:#fff;" class="dropdown-item" href="#">Link 1</a>
          <a style="color:#fff;" class="dropdown-item" href="#">Link 2</a>
          <a  class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
       <li style="color:#eee !important;" class="nav-item dropdown dmenu">
        <a  style="color:#eee !important;" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu sm-menu">
          <a style="color:#fff;" class="dropdown-item" href="#"></a>
          <a style="color:#fff;" class="dropdown-item" href="#">Link 2</a>
          <a style="color:#fff;" class="dropdown-item" href="#">Link 3</a>
          
        </div>
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>






<script src="/static/assets/bootstrap/js/bootstrap.min.js">
</script>
<script src="/static/assets/js/jquery.min.js" >
	$(document).ready(function () {
$('.navbar-light .dmenu').hover(function () {
        $(this).find('.sm-menu').first().stop(true, true).slideDown(150);
    }, function () {
        $(this).find('.sm-menu').first().stop(true, true).slideUp(105)
    });
});
</script>
{%endblock%}