<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Football Show</title>

     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/static/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <style>
    body{
        font-family: 'Roboto Slab', serif;
    }
    </style>
</head>
<body>
{%block body%}
{%endblock%}
<script src="/static/assets/bootstrap/js/bootstrap.min.js">
</script>
<script src="/static/assets/js/jquery.min.js" ></script>
</body>
</html>